{% extends "master_template.html" %}
{%block title%}
  View Students
{%endblock%}

{% block body%}
  <div class="col-md-6 col-xs-12">
    <h2>View Records</h2>
    <h5>Record of every student</h5>
  </div>
  <div class="col-md-6 col-xs-12" style="margin-top: 10px;">
   
  <form class="form-horizontal" action="/searchrecord" method="post">
    <div class="form-group">
      <label class="control-label col-sm-2" for="session">Search:</label>
      <div class="col-sm-10">
        <input class="form-control" id="name" placeholder="Enter Name" name="name" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Search</button>
      </div>
    </div>
  </form>
  
  </div>
  <div class="col-md-12">
    <hr class="hr hr-blur" style="background-color:#333; height:1px; margin-top: 12px;">
  <table class="table">
    <thead>
      <tr>
        <th>Roll No</th>
        <th>Class</th>
        <th>Name</th>
        <th>Father Name</th>
        <th>Adhar</th>
        <th>Total Fee</th>
        <th>Submitted Fee</th>
        <th>Remaining Fee</th>
      </tr>
    </thead>
    
    <tbody>
      {%for stud in students%}
      <tr>
        <td>{{stud[4]}}</td>
        <td>{{stud[5]}}</td>
        <td>{{stud[1]}}</td>
        <td>{{stud[2]}}</td>
        <td>{{stud[3]}}</td>
        <td>{{stud[7]}}</td>
        <td>{{stud[8]}}</td>
        <td>{{stud[9]}}</td>      
        <td><a href="/update/{{stud[4]}}">update</a> , <a href="/delete/{{stud[4]}}">delete</a></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  </div>
  {%endblock%}